---
# Only the main Sass file needs front matter (the dashes are enough)
---
@charset "utf-8";

// Our variables
$base-font-family:  'Roboto', Helvetica, Arial, sans-serif;
$base-font-size:    16px;
$small-font-size:   $base-font-size * 0.875;
$tiny-font-size:    $small-font-size * 0.875;
$base-line-height:  1.5;

$spacing-unit:      40px;

$magenta-color:     #ff00ff;
$magenta-color-light: lighten($magenta-color, 35%);
$magenta-color-dark:  darken($magenta-color, 35%);

$green-color:       #00ee00;
$green-color-light: lighten($green-color, 40%);
$green-color-dark:  darken($green-color, 15%);

// Same color scheme as google plus
$red-color:         #d34836;
$red-color-light:   lighten($red-color, 40%);
$red-color-dark:    darken($red-color, 15%);

$blue-color:        #0077B5;
$blue-color-light:  lighten($blue-color, 40%);
$blue-color-dark:   darken($blue-color,  25%);

$white-color:       #ffffff;
$white-color-dark:  darken($white-color, 5%);

$grey-color:        #828282;
$grey-color-light:  lighten($grey-color, 40%);
$grey-color-bright: lighten($grey-color, 50%);
$grey-color-dark:   darken($grey-color, 35%);

$text-color:        #111;
$background-color:  #f2eee3;
$brand-color:       #2a7ae2;
$brand-color-light: lighten($brand-color, 40%);
$brand-color-dark:  darken($brand-color, 25%);

$boya-color:        #35DACA;
$linkedin-color:    #0077B5;
$twitter-color:     #4099ff;
$facebook-color:    #3B5998;
$github-color:      #000000;
$gscholar-color:    #3278E6;

// Site color scheme[primary and secondary]
$primary-color:             $red-color-dark;
$primary-color-light:       $red-color;
$primary-color-dark:        $red-color-dark;

$secondary-color:           $brand-color;
$secondary-color-light:     $brand-color-light;
$secondary-color-dark:      $brand-color-dark;

// Width of the content area
$content-width:     1150px;
// $content-width:     1024px;

$on-mobile:         400px;
$on-palm:           600px;
$on-laptop:         800px;

$cover-img:         "/images/background/background.jpg";
$deep-cover-img:    "/images/background/background_deep.jpg";

@mixin media-query($device) {
    @media screen and (max-width: $device) {
        @content;
    }
}



// Import partials from `sass_dir` (defaults to `_sass`)
@import
    "base",
    "layout",
    "syntax-highlighting",
    "cover",
    "misc",
    "components",
    "timeline",
    "toy",
    "pagination",
    "publications",
    "bio",
    "resume",
    "posts",
    "projects",
    "service",
    "news",
    "teaching"
    ;
