---
layout: home
---

<div id="bio" class="bio">
  <h1 class="md-heading text-center">
    Bio
  </h1>
  <div class="bio-body">
    <p> {{ site.data.bio.normal.content }} </p>
  </div>
</div>

<div id="news" class="news">
  <h1 class="md-heading text-center">
    News
  </h1>
  <div class="news-body">
    {% for news in site.data.news %}
    <div class="news-item">
      <div class="news-left">
        <div class="news-date">
          {{ news.date }}
        </div>
      </div>
      <div class="news-right">
        <div class="news-news">
          {{ news.news }}
        </div>
      </div>
    </div>
    {% endfor %}
  </div>
</div>

<div id="publications" class="publications">
  <h1 class="md-heading text-center">
    <!-- <i class="fa fa-file" aria-hidden="true"></i> -->
    Publications
  </h1>
  <div class="pub-list">
  {% for publication in site.data.publications %}
  {% if publication.selected %}
    <div class="pub">
      <div class="pub-left">
        <img class="intro-img {{publication.imgprop}}" src="{{ publication.imgurl | prepend: site.baseurl }}"/>
      </div>
      <div class="pub-right">
        <div class="title">
          {{ publication.title }}
        </div>
        <div class="authors">
          {% for author in publication.authors %}
          <a class="author" href="{{ author.url }}">
              {% if author.me %}<strong> {% endif %}
              {{author.name}}
              {% if author.me %}</strong> {% endif %}
          </a>
          {% if author.equal_contribution %}* {% endif %}
          {% if forloop.last == false %},{% endif %}
          {% endfor %}
        </div>
        <div class="publisher">
            <span class="publisher">in {{ publication.publisher }}</span>
        </div>
        
        <div class="desc">
          <p>
          {% if publication.desc contains '<!--more-->' %}
            {{ publication.desc | split:'<!--more-->' | first }}
          {% else %}
            {{ publication.desc }}
          {% endif %}
          </p>
        </div>
        
        <div class="publish">
          <!--
          <span class="publisher">{{ publication.publisher }}</span>
          -->
          <span class="status">{{ publication.status }}</span>
          <span class="place">{{ publication.place }}</span>
        </div>
        <div class="tags">
          {% for tag in publication.tags %}
          [<a class="tag" href="{{tag.url}}"> <strong>{{ tag.name }}</strong> </a>]
          {% endfor %}
        </div>
      </div>
    </div>
    {% endif %}
    {% endfor %}
</div>

<div class="button">
  <h1 class="sm-heading text-center">
    <a href="{{ '/publications/#publications' | prepend: site.baseurl }}">
      <i class="fa fa-info-circle"></i> Full Publication List
    </a>
  </h1>
</div> 

  <!--
<div id="timeline" class="timeline-brief">
  <h1 class="md-heading text-center">
    Timeline
  </h1>

  <div class="timeline-body">
    {% for experience in site.data.experiences %}
    {% if experience.brief == true %}
    <div class="timeline-item">
      <div class="timeline-date">
        {{ experience.date }}
      </div>
      <div class="timeline-title">
        {{ experience.title }}
      </div>
      <div class="timeline-desc">
        {{ experience.desc }}
      </div>
      {% unless experience.host == false %}
      <div class="timeline-host">
        {{ experience.host.role }}: {{ experience.host.name }}
      </div>
      {% endunless %}
      {% unless experience.lab == false %}
      <div class="timeline-host">
        {{ experience.lab.role }}: {{ experience.lab.name }}
      </div>
      {% endunless %}
    </div>
    {% endif %}
    {% endfor %}
    <div class="timeline-item">
    </div>
  </div>
</div>

<div class="button">
  <h1 class="sm-heading text-center">
    <a href="{{ '/timeline/#timeline' | prepend: site.baseurl }}">
      <i class="fa fa-info-circle"></i> Full Timeline
    </a>
  </h1>
</div> 
-->

<div id="service" class="service">
  <h1 class="md-heading text-center">
    Open Source Projects
  </h1>
  <div class="service-body">
    {% for implementation in site.data.implementation %}
    <div class="service-item">
      {% if implementation.category %}
        <span class="service-role"> {{ implementation.name }} </span>
      {% else %}
        <span class="service-role"><a herf="{{ implementation.url }}"> {{ implementation.name }} </a></span>
      {% endif %}
      <span class="service-activity"> {{ implementation.desc }} </span>
    </div>
    {% endfor %}
  </div>
</div>

<div id="service" class="service">
  <h1 class="md-heading text-center">
    Teaching
  </h1>
  <div class="service-body">
    {% for teaching in site.data.teaching %}
    <div class="service-item">
      <span class="service-role">{{ teaching.semester }}</span>
      <span class="service-activity">{{ teaching.course }}</span>
    </div>
    {% endfor %}
  </div>
</div>

<div id="service" class="service">
  <h1 class="md-heading text-center">
    Professional Activity
  </h1>
  <div class="service-body">
    {% for service in site.data.service %}
    <div class="service-item">
      <span class="service-role">{{ service.role }}</span>
      <span class="service-activity">{{ service.activity }}</span>
    </div>
    {% endfor %}
  </div>
</div>

</div>
