<div id="profile-cover" class="cover shallow-bg img-responsive">
  {{ site.static_files.path }}
  <div id="profile-namecard" class="profile-wrapper wrapper-light">
    <div id="my-pic" class="profile-col profile-col-1">
      <img id="profile-avatar" src="{{ site.data.bio.head_pic | prepend: site.baseurl }}" alt="Me" class="circle-img border-dark"/>
    </div>
    <div id="my-contact" class="profile-col profile-col-2">
      <div id="my-name" class="text-grey-dark">
        {{ site.data.bio.name }}
      </div>
      <div id="my-title" class="text-grey">
        {{ site.data.bio.title }}
      </div>
      <div id="my-email" class="text-grey-light">
        {{ site.data.bio.email }}
      </div>
      <div class="social-media">
          {% include interactive-social.html %}
      </div>
    </div>
    <div id="my-desc" class="profile-col profile-col-2 hide">
      <div id="my-desc-title">
        {{ site.data.bio.short.title}}
      </div>
      <div id="my-desc-content">
        {{ site.data.bio.short.content }}
      </div>
    </div>
  </div>
</div>
