{% if page.comments == True %}
<footer class="site-footer">

  <div class="wrapper">
    <div class="footer-col-wrapper">
      <div class="footer-col  footer-col-1">
        {% include color-social.html %}
      </div>
      <div class="footer-col  footer-col-2">
        <ul class="contact-list">
          <li>{{ site.data.bio.name }}'s personal website</li>
          <li><a href="mailto:{{ site.email }}">{{ site.data.bio.email }}</a></li>
        </ul>
      </div>
    </div>

  </div>

</footer>
{% else%}
<footer class="site-footer">
    <div class="wrapper">
        <h2 class="footer-heading"> {{ site.title }}e</h2>
    </div>
</footer>
{% endif %}
