{% if site.social.github %}
<a href="https://github.com/shaohua0116" class="icon-button github" target="_blank">
  <i class="fa fa-github icon-github"></i>
  <span></span>
</a>
{% endif %}

{% if site.social.twitter %}
<a href="https://twitter.com/shaohua0116" class="icon-button twitter" target="_blank">
  <i class="fa fa-twitter icon-twitter"></i>
  <span></span>
</a>
{% endif %}

{% if site.social.linkedin %}
<a href="https://linkedin.com/in/shaohua0116" class="icon-button linkedin" target="_blank">
  <i class="fa fa-linkedin icon-linkedin"></i>
  <span></span>
</a>
{% endif %}
