.bio {
  max-width:        -webkit-calc(81% - (#{$spacing-unit} / 2));
  max-width:        calc(81% - (#{$spacing-unit} / 2));
  // margin-top:       #{$spacing-unit};
  margin-top:       #{$spacing-unit};
  margin-left:      auto;
  margin-right:     auto;
  @include media-query($on-palm) {
    max-width:        -webkit-calc(100% - (#{$spacing-unit} / 2));
    max-width:        calc(100% - (#{$spacing-unit} / 2));
  }
}

.bio-body {
  text-align: justify;
  margin:     5px;
  padding:    5px;
}
