.back-to-top {
    position:           fixed;
    bottom:             2em;
    right:              0px;
    text-decoration:    none;
    color:              $boya-color;
    background-color:   rgba(235, 235, 235, 0.80);
    font-size:          16px;
    font-weight:        bold;
    padding:            1em;
    display:            none;
}

.back-to-top:hover {    
    background-color:   rgba(135, 135, 135, 0.50);
}

/* 
 * Icon 
 */

.social-icon {
  width:          40px;
  height:         40px;
  display:        inline-block;
}


/* Wrapper */
.icon-button {
    border-radius:  25%;
    // border-radius:  50%;
    // border-width:   1px;
    // border-style:   solid;
    border-color:   rgba(128, 128, 128, 0.950);
    background-color: white;
    cursor:         pointer;
    display:        inline-block;
    font-size:      2.0rem;
    height:         2.6rem;
    line-height:    2.6rem;
    margin:         0 4px;
    position:       relative;
    text-align:     center;
    -webkit-user-select: none;
       -moz-user-select: none;
        -ms-user-select: none;
            user-select: none;
    width:          2.6rem;
    box-shadow: 3px 3px 10px rgba(173, 181, 189, 0.75);
}

/* Circle */
.icon-button span {
    border-radius:  25%;
    // border-radius:  50%;
    display:        block;
    height:         0;
    left:           50%;
    margin:         0;
    position:       absolute;
    top:            50%;
    -webkit-transition: all 0.3s;
       -moz-transition: all 0.3s;
         -o-transition: all 0.3s;
            transition: all 0.3s;
    width:          0;
}
.icon-button:hover span {
    border-radius:  25%;
    // border-radius:  50%;
    width:          2.6rem;
    height:         2.6rem;
    margin:         -1.3rem;
}
.twitter span {
    background-color: $twitter-color;
}
.linkedin span {
    background-color: $linkedin-color;
}
.github span {
    background-color: $github-color;
}
.gscholar span {
    background-color: $gscholar-color;
}
/* Icons */
.icon-button i {
    background:         none;
    color:              white;
    height:             2.6rem;
    left:               0;
    line-height:        2.6rem;
    position:           absolute;
    top:                2px;
    -webkit-transition: all 0.3s;
       -moz-transition: all 0.3s;
         -o-transition: all 0.3s;
            transition: all 0.3s;
    width:              2.6rem;
    z-index:            20;
}
.icon-button .icon-twitter {
    color:        $twitter-color;
    border-color: $twitter-color;
}
.icon-button .icon-github {
    color:        $github-color;
    border-color: $github-color;
}
.icon-button .icon-linkedin {
    color:        $linkedin-color;
    border-color: $linkedin-color;
}
.icon-button .icon-gscholar {
    color:        $gscholar-color;
    border-color: $gscholar-color;
}

.icon-button:hover .icon-twitter,
.icon-button:hover .icon-github,
.icon-button:hover .icon-linkedin,
.icon-button:hover .icon-google,
.icon-button:hover .icon-gscholar, {
    color: white;
}
