/*
* News items
*/
$news-padding: 20px;

.news {
  max-width:        -webkit-calc(90% - (#{$spacing-unit} / 2));
  max-width:        calc(90% - (#{$spacing-unit} / 2));
  margin-top:       #{$spacing-unit};
  margin-left:      auto;
  margin-right:     auto;
  @include media-query($on-palm) {
    max-width:        -webkit-calc(100% - (#{$spacing-unit} / 2));
    max-width:        calc(100% - (#{$spacing-unit} / 2));
  }
}

.news-body {
  overflow:   auto;
}

.news-item {
  // text-align:     left;
  text-align:     justify;
  font-size:      16px;
  @include media-query($on-palm) {
    font-size:      14px;
  }
  // float:          left !important;
  overflow:       auto;
  // padding-top:    #{$spacing-unit};
  margin-top:     10px;
}

.news-left {
  float:       left;
  margin-left: auto;
  margin-right: auto;
  width: -webkit-calc(15% - (#{$spacing-unit} / 2));
  width:         calc(15% - (#{$spacing-unit} / 2));
}

.news-right {
  float:       left;
  width: -webkit-calc(85% - (#{$spacing-unit} / 2));
  width:         calc(85% - (#{$spacing-unit} / 2));
  margin-left: 5px;
  @include media-query($on-palm) {
    margin-left: 25px;
  }
}

.news-left > .news-date {
  color:       $primary-color-dark;
  font-weight: bold;
}

.news-right > .news-news {
}
