$border-width: 1px;

.publications {
  max-width:        -webkit-calc(100% - (#{$spacing-unit} / 2));
  max-width:        calc(100% - (#{$spacing-unit} / 2));
  margin-top:       #{$spacing-unit};
  font-family:      'Roboto',sans-serif, Helvetica;
  margin:           auto;
}

.pub-list {
  overflow:         auto;
}

.pub {
  border-top:     thin solid #c0c0c0;
  radius:         55px;
  padding-top: -webkit-calc((#{$spacing-unit} / 2));
  padding-top:        -calc((#{$spacing-unit} / 2));
  padding-bottom: -webkit-calc((#{$spacing-unit} / 2));
  padding-bottom:        -calc((#{$spacing-unit} / 2));
  overflow:       auto;
  @media screen and (min-width: 800px){
    display:        flex;
  }
}

.pub-left {
  float:         left;
  width: -webkit-calc(25% - (#{$spacing-unit} / 2));
  width:         calc(25% - (#{$spacing-unit} / 2));
  text-align:    center;
  margin-right:  auto;

  @media screen and (min-width: 800px){
    display:       flex;
    flex-direction: column;
    justify-content: center;
    align-items:   left;
  }
  @include media-query($on-palm) {
    padding-bottom: -webkit-calc((#{$spacing-unit} / 2));
    padding-bottom:        -calc((#{$spacing-unit} / 2));
    margin-right:  10px auto;
    margin-left:   10px auto;
  }
}

.pub-left > .intro-img {
  width:          320px;
  border:         1px solid $red-color-dark;
  border-radius:  3%;
  box-shadow: 5px 5px 15px rgba(173, 181, 189, 0.4);
}

.pub-left > .frame {
}

.pub-right {
  float:         right;
  width: -webkit-calc(75% - (#{$spacing-unit} / 2));
  width:         calc(75% - (#{$spacing-unit} / 2));
  @media screen and (min-width: 800px){
    display:       flex;
    flex-direction: column;
    justify-content: center;
    align-items:   left;
  }
}

@include media-query($on-laptop) {
  .pub-left,
  .pub-right {
    float:         none;
    margin:        10px auto;
    width: -webkit-calc(100% - (#{$spacing-unit} / 2));
    width:         calc(100% - (#{$spacing-unit} / 2));
  }
}

@include media-query($on-palm) {
  .pub {
    position:   relative;
    margin:     10px auto;
    float:      none;
    width: -webkit-calc( 100% - (#{$spacing-unit} / 2));
    width:         calc( 100% - (#{$spacing-unit} / 2));
  }

}

.pub-right > .title {
  font-weight:  600;
  font-size:    16px;
}

.pub-right > .authors > .author {
  color:          $blue-color;
  font-weight:    400;
  font-size:      16px;
  @include media-query($on-palm) {
    font-size:  14px;
  }
}

.pub-right > .publisher > .publisher {
  color:          $blue-color-dark;
  font-weight:    400;
  font-size:      16px;
  @include media-query($on-palm) {
    font-size:  14px;
  }
}

.pub-right > .tags > .tag {
  color:          $red-color-dark;
  font-weight:    500;
  font-size:      16px;
  @include media-query($on-palm) {
    font-size:  14px;
  }
}

.pub-right > .desc > p {
  margin:         auto;
  text-align:     justify;
  @include media-query($on-palm) {
    font-size:  14px;
  }
}

.pub-right > .publish {
  float: right;
}

.pub-right > .publish > .publisher {
  color:          $blue-color-dark;
  font-size:      16px;
}

ul.main-nav {
       display: inline-block; /* fixes that spacing issue */
       margin: 0; /* cancels out unwanted margin */
       white-space: nowrap;
}
li {
       overflow: hidden; 
       text-overflow: ellipsis;
       display: inline-block;
       white-space: nowrap;
}
