$service-padding: 20px;

.service {
  max-width:        -webkit-calc(81% - (#{$spacing-unit} / 2));
  max-width:        calc(81% - (#{$spacing-unit} / 2));
  margin-top:       #{$spacing-unit};
  margin-left:      auto;
  margin-right:     auto;
  @include media-query($on-palm) {
    max-width:        -webkit-calc(100% - (#{$spacing-unit} / 2));
    max-width:        calc(100% - (#{$spacing-unit} / 2));
  }
}

.service-body {
  padding:    0;
}

.service-item {
  width:       -webkit-calc(80% - (#{$service-padding}) );
  width:       calc(80% -  (#{$service-padding}) );
  font-size:   18px;
  font-weight: bold;
  position: relative;
}

.service-role {
  color:        $primary-color-dark;
}

.service-activity {
}
