/*
* service items
*/
$service-padding: 20px;

.service {
  max-width:        -webkit-calc(80% - (#{$spacing-unit} / 2));
  max-width:        calc(80% - (#{$spacing-unit} / 2));
  margin-top:       #{$spacing-unit};
  margin-left:      auto;
  margin-right:     auto;
  @include media-query($on-palm) {
    max-width:        -webkit-calc(100% - (#{$spacing-unit} / 2));
    max-width:        calc(100% - (#{$spacing-unit} / 2));
  }
}

.service-body {
  overflow:   auto;
}

.service-item {
  text-align:     left;
  font-size:      16px;
  @include media-query($on-palm) {
    font-size:      14px;
  }
  // float:          left !important;
  overflow:       auto;
  margin-top:     5px;
  font-weight: bold;
}

.service-role {
  float:       left;
  margin-left: auto;
  margin-right: auto;
  color:       $primary-color-dark;
  width: -webkit-calc(28% - (#{$spacing-unit} / 2));
  width:         calc(28% - (#{$spacing-unit} / 2));
  @include media-query($on-palm) {
    width: -webkit-calc(40% - (#{$spacing-unit} / 2));
    width:         calc(40% - (#{$spacing-unit} / 2));
    // margin-left: 40px;
  }
}

.service-activity {
  float:       left;
  width: -webkit-calc(72% - (#{$spacing-unit} / 2));
  width:         calc(72% - (#{$spacing-unit} / 2));
  margin-left: 0px;
  @include media-query($on-palm) {
    width: -webkit-calc(60% - (#{$spacing-unit} / 2));
    width:         calc(60% - (#{$spacing-unit} / 2));
    // margin-left: 40px;
  }
}
