/*
* service items
*/
$service-padding: 20px;

.service {
  max-width:        -webkit-calc(90% - (#{$spacing-unit} / 2));
  max-width:        calc(90% - (#{$spacing-unit} / 2));
  margin-top:       #{$spacing-unit};
  margin-left:      auto;
  margin-right:     auto;
  @include media-query($on-palm) {
    max-width:        -webkit-calc(100% - (#{$spacing-unit} / 2));
    max-width:        calc(100% - (#{$spacing-unit} / 2));
  }
}

.service-body {
  overflow:   auto;
}

.service-item {
  text-align:     left;
  font-size:      16px;
  @include media-query($on-palm) {
    font-size:      14px;
  }
  overflow:       auto;
  margin-top:     5px;
}

.service-role {
  float:       left;
  margin-left: auto;
  margin-right: auto;
  color:       $primary-color-dark;
  width: -webkit-calc(30% - (#{$spacing-unit} / 2));
  width:         calc(30% - (#{$spacing-unit} / 2));
  font-weight: bold;
}

.service-activity {
  float:       left;
  width: -webkit-calc(70% - (#{$spacing-unit} / 2));
  width:         calc(70% - (#{$spacing-unit} / 2));
  margin-left: 10px;
}
