/*
* Teaching items
*/
$teaching-padding: 20px;

.teaching {
  max-width:        -webkit-calc(80% - (#{$spacing-unit} / 2));
  max-width:        calc(80% - (#{$spacing-unit} / 2));
  margin-top:       #{$spacing-unit};
  margin-left:      auto;
  margin-right:     auto;
  @include media-query($on-palm) {
    max-width:        -webkit-calc(100% - (#{$spacing-unit} / 2));
    max-width:        calc(100% - (#{$spacing-unit} / 2));
  }
}

.teaching-body {
  overflow:   auto;
}

.teaching-item {
  text-align:     left;
  font-size:      16px;
  @include media-query($on-palm) {
    font-size:      14px;
  }
  // float:          left !important;
  overflow:       auto;
  margin-top:     5px;
}

.teaching-semester {
  font-weight: bold;
  float:       left;
  margin-left: auto;
  margin-right: auto;
  width: -webkit-calc(28% - (#{$spacing-unit} / 2));
  width:         calc(28% - (#{$spacing-unit} / 2));
  color:       $primary-color-dark;
}

.teaching-course {
  float:       left;
  width: -webkit-calc(72% - (#{$spacing-unit} / 2));
  width:         calc(72% - (#{$spacing-unit} / 2));
  margin-left: 0px;
  @include media-query($on-palm) {
    margin-left: 10px;
  }
}
