/*
* Timeline items
*/
$timeline-padding: 20px;
$left-align-percentage: 15%;
$image-half-width: 50px;

.timeline-brief, .timeline {
  font-family: 'Roboto',sans-serif, Helvetica;
  margin-top:   #{$spacing-unit};
  font-size:    20px;
  font-weight:  400;
}

.timeline-body {
  padding:    0;
}

.timeline-start {
  width:       -webkit-calc(100% - 2 * (#{$timeline-padding}) );
  width:       calc(100% - 2 * (#{$timeline-padding}) );

  text-align: center;
  padding:    $timeline-padding;
}

.timeline-item:before {
  width:          11px;
  height:         11px;
  background:     #333;
  content:        "";
  display:        block;
  position:       absolute;
  border-radius:  5px;
}

.timeline-item {
  width:       -webkit-calc(80% - (#{$timeline-padding}) );
  width:       calc(80% -  (#{$timeline-padding}) );

  position: relative;
}

.timeline-item:before {
  left: -8px;
}

.timeline-item:after {
  left: -8px;
  bottom: 0;
}

.timeline-item {
  margin-left:        $left-align-percentage;
  padding-bottom:     36px;
  padding-left:       $timeline-padding;
  border-left:        5px solid #333;
  text-align:         left;
  &:last-child {
      height: 80px;
      border-left:        5px dashed #333;
  }
}

// .timeline-item:nth-child(even) {
//   margin-right:       -webkit-calc(50% + (#{$timeline-padding}) );
//   margin-right:       calc(50% + (#{$timeline-padding}) );
// 
//   padding-right:  $timeline-padding;
//   border-right:   5px solid #333;
//   text-align:     right;
// }

// .timeline-item:nth-child(even):before {
//   right: -8px;
// }

// .timeline-item:nth-child(even):after {
//   right: -8px;
// }

.timeline-date {
  font-size:      20px;
  font-weight:    600;
  color:          $secondary-color-dark;
}

.timeline-title {
  font-size:      18px;
  font-weight:    500;
  font-family:    'Roboto', sans-serif;
  color:          $primary-color-dark;
}

.timeline-desc {
  font-size:      16px;
  font-weight:    200;
}

.timeline-host {
  font-size:      14px;
  font-weight:    400;
}

.timeline > .timeline-body > .timeline-item:last-child:after
{
  bottom:         0;
  width:          11px;
  height:         11px;
  background:     #333;
  content:        "";
  display:        block;
  position:       absolute;
  border-radius:  5px;
}

// .timeline > .timeline-body > .timeline-item:last-child:nth-child(even){
//   vertical-align:     middle;
//   min-height:         200px;
//   border-right:       5px dashed #333;
// }

.timeline > .timeline-body > .timeline-item:last-child:nth-child(odd){
  vertical-align:     middle;
  min-height:         200px;
  border-left:        5px dashed #333;
}

@include media-query($on-palm) {
  .timeline-start {
    min-height:         50px;
    padding:            0 0 0 5px;
    text-align:         left;
    border-left:        5px dashed #333;
    width:              100%;
    padding-left:       5px;
    margin-left:        5px;
  }

  .timeline-start:after {
    left:           17px;
    width:          11px;
    height:         11px;
    background:     #333;
    content:        "";
    display:        block;
    position:       absolute;
    border-radius:  5px;
  }

  .timeline-item,
  .timeline-item:nth-child(odd),
  .timeline-item:nth-child(even) {
    min-height:         0;
    text-align:         left;
    border-left:        5px solid #333;
    border-right:       0px;
    width:              100%;
    padding-left:       5px;
    margin-left:        5px;
    margin-right:       0px;
    padding-right:      0px;
  }

  .timeline > .timeline-body > .timeline-item:last-child:nth-child(odd),
  .timeline > .timeline-body > .timeline-item:last-child:nth-child(even) {
    min-height:         0;
    text-align:         left;
    border-left:        5px solid #333;
    border-right:       0px;
    width:              100%;
    padding-left:       5px;
    margin-left:        5px;
    margin-right:       0px;
    padding-right:      0px;
  }

  .timeline-item:before {
    left: -8px;
  }

  .timeline-item:after {
    left: -8px;
  }

  .timeline-date {
    font-size: 16px;
  }

  .timeline-title {
    font-size: 14px;
  }

  .timeline-desc {
    font-size: 12px;
  }

  .timeline-host {
    font-size: 10px;
  }

}

.horizon-line {
  
}

.cute-wrapper {
    margin-left: calc(15% - 50px);
    margin-left: -webkit-calc(15% - 50px);
}
